#define HOSTNAME "OUS"
#define FLASHPW "flashpassword"
#define PIN_UNIT_SWITCH D1
#define PIN_USR_BUTTON A0
#define PIN_RFID_RESET D4
#define PIN_RFID_CHIP_SELECT D8
#define MQTT_SERVER "mqtt.example.org"
#define MQTT_TOPIC "iot/openunitstate/"
#define MQTT_PASSWORD "yourcomplexpassword"
#define MQTT_USER "youruser"